{local/lib
 {:local/root "/Users/example/dev/locallib",
  :git/url "https://github.com/example/locallib.git"},
 private/lib
 {:local/root "/Users/example/dev/privatelib",
  :git/url "git@github.com/example/privatelib.git"},
 :deps/repositories
 [{:repository/root "/Users/example/dev",
   :git/root "https://github.com",
   :repository/libraries
   [nuid/cryptography
    nuid/exception
    nuid/ethereum
    nuid/elliptic
    nuid/transit
    nuid/base64
    nuid/utils
    nuid/specs
    nuid/bytes
    nuid/deps
    nuid/zka
    nuid/hex
    nuid/bn]}]}
