{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"},
  clj-jgit {:mvn/version "0.8.10"},
  org.clojure/tools.deps.alpha
  {:git/url "https://github.com/nuid/tools.deps.alpha.git",
   :sha "495d75598d62c6a248817c44af1a3c2d3a615970"}},
 :aliases
 {:cljfmt
  {:extra-deps
   {com.jameslaverack/cljfmt-runner
    {:git/url "https://github.com/JamesLaverack/cljfmt-runner",
     :sha "97960e9a6464935534b5a6bab529e063d0027128"}},
   :main-opts ["-m" "cljfmt-runner.check"]},
  :cljfmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]},
  :depot
  {:extra-deps {olical/depot {:mvn/version "1.8.2"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :depot/update {:main-opts ["-m" "depot.outdated.main --update"]}},
 :paths ["src"]}
