{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  clj-jgit {:mvn/version "0.8.10"},
  org.clojure/tools.deps.alpha
  {:git/url "https://github.com/nuid/tools.deps.alpha.git",
   :sha "d878f5a73ac671fa0ef2c1d6bcfc450697e8107d"}},
 :aliases
 {:cljfmt
  {:extra-deps
   {com.jameslaverack/cljfmt-runner
    {:git/url "https://github.com/JamesLaverack/cljfmt-runner",
     :sha "d6952345b3047e03ca3a88f89a1433c109b7b442"}},
   :main-opts ["-m" "cljfmt-runner.check"]},
  :cljfmt/fix {:main-opts ["-m" "cljfmt-runner.fix"]},
  :depot
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :depot/update {:main-opts ["-m" "depot.outdated.main --update"]}},
 :paths ["src"]}
